:root {
  --text-color: #1a2b5f;
  --primary-color: #ffc87a;
}
* {
    box-sizing: border-box;
    line-height: 1.6;
}
html {
    font-size: 62.5%;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: var(--text-color);
}

.app{
    max-width: 1440px;
    margin: 0 auto;
}

.container {
  max-width: 1210px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

.btn{
  display: inline-block;
  padding: 12px 25px;
  border: 1px solid;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 600;
}

.btn-primary {
  background-color: #ffc87a;
  border-color: #ffc87a;
}


